<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".DesemberActivity"
            android:exported="false" />
        <activity
            android:name=".NovemberActivity"
            android:exported="false" />
        <activity
            android:name=".OktoberActivity"
            android:exported="false" />
        <activity
            android:name=".SeptemberActivity"
            android:exported="false" />
        <activity
            android:name=".AgustusActivity"
            android:exported="false" />
        <activity
            android:name=".JuliActivity"
            android:exported="false" />
        <activity
            android:name=".JuniActivity"
            android:exported="false" />
        <activity
            android:name=".MeiActivity"
            android:exported="false" />
        <activity
            android:name=".AprilActivity"
            android:exported="false" />
        <activity
            android:name=".MaretActivity"
            android:exported="false" />
        <activity
            android:name=".FebruariActivity"
            android:exported="false" />
        <activity
            android:name=".TeamDevelopmetUPB2"
            android:exported="false" />
        <activity
            android:name=".JanuariActivity"
            android:exported="false" />
        <activity
            android:name=".VideoUpb"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>